.motboard-single-image-card{
    transition: 0.3s;
    width: 100%;
    height:auto;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
}

.motboard-single-image-card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)  ;
    transform: translate(0px, -5px);
}

.motboard-single-image-comment{
    border:none;
    border-radius:0.2px;
    width:100%;

}